<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.dayshmookhapps.mapviewer" version = "1.0">
   
   <name>dLimiter</name>
   
   <description>
      Online 3D Map Viewer
   </description>
   
   <author href = "http://www.dayshmookhapps.com" email = "krushndayshmookh@gmail.com">
      Tutorials Point
   </author>
   
   <preference name = "permissions" value = "none"/>
   
   
   
</widget>
